<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= appName %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="{gr.path.shared}/lib/jquery.min.js"></script>
    <script src="{gr.path.shared}/lib/d3.min.js"></script>
    <script src="{gr.path.shared}/lib/lodash.min.js"></script>
    <script src="{gr.path.shared}/lib/bootstrap.min.js"></script>
    <script src="{gr.path.shared}/lib/highcharts.js"></script>
    <script src="{gr.path.shared}/lib/highcharts-more.js"></script>
    <script src="{gr.path.shared}/lib/moment.min.js"></script>
    <script src="{gr.path.shared}/lib/app.js"></script>
    <link rel="stylesheet" type="text/css" href="{gr.path.shared}/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{gr.path.project}/styles/main.css">
</head>
<body ng-app="canvas1.0App">
{gr.template.content}
</body>
</html>
